@import url('https://fonts.cdnfonts.com/css/nike');
@import url("https://fonts.gstatic.com/s/opensans/v40/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWtE6F15M.woff2");

:root {
    --background-color: #FFFFFF;
    --podium-cds-color-red-700: #A70E00;
    --podium-cds-color-red-600: #D30005;
    --podium-cds-color-red-500: #EE0005;
    --podium-cds-color-red-400: #FF4E4A;
    --podium-cds-color-red-300: #FF7975;
    --podium-cds-color-red-200: #FFABAD;
    --podium-cds-color-red-100: #FFC3C4;
    --podium-cds-color-black: #111111;
    --podium-cds-color-grey-100: #F5F5F5;
    --podium-cds-color-black: #111111;
    --podium-cds-color-grey-600: #4B4B4D;
    --podium-cds-color-grey-200: #E5E5E5;
    --podium-cds-color-green-700: #00643E;
    --podium-cds-color-green-600: #007D48;
    --podium-cds-color-green-500: #1EAA52;
    --podium-cds-color-green-400: #3CCD49;
    --podium-cds-color-green-300: #5FE63F;
    --podium-cds-color-green-200: #83F13B;
    --podium-cds-color-grey-400: #9E9EA0;
    --podium-cds-color-grey-300: #CACACB;
    --podium-cds-color-grey-500: #707072;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

.header .logo img {
    width: 5rem;
}

.header .navbar a{
    text-decoration: none;
    color: var(--podium-cds-color-black);
    font-size: 1rem;
    text-transform: capitalize;
    border-bottom: var(--podium-cds-color-black);
}

.header .navbar a:nth-of-type(8) {
    text-transform: uppercase;
}

.navbar a:hover,
.navbar a:active {
    border-bottom: 2px solid var(--podium-cds-color-black);
}

.search-cart {
    position: relative;
}

.search-cart .search input {
    width: 7rem;
    padding: 12px 20px 12px 35px;
    border-radius: 20px 20px 20px 20px;
    border: none;
    background-color: var(--podium-cds-color-grey-100);
    color: var(--podium-cds-color-black);
    outline: none;
}

.search-cart .search input::placeholder {
    font-size: 1rem;
}

.search-cart .search input:hover,
.search-cart .search input:focus {
    background-color: var(--podium-cds-color-grey-200);
}

.search-cart .search i {
    background-color: var(--podium-cds-color-grey-100);
    border-radius: 20px 23px 25px 22px;
    padding: 6px 6px;
    position: absolute;
    font-size: 1.2rem;
    font-weight: 400;
    top: 4px;
    left: 40px;
}

.heart-cart i {
    font-size: 1.4rem;
    padding: 6px 6px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, border-radius 0.1s ease-in-out, padding 0.1s ease-in-out;
}

.heart-cart i:hover,
.heart-cart i:focus {
    background-color: var(--podium-cds-color-grey-200);
    border-radius: 50%;
}

.header {
    width: 100%;
    height: auto;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2rem 0;
}

.search-cart {
    width: 23%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.heart-cart {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.navbar {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    width: 15%;
    margin: 0 0 0 20px;
}

.promo-price h1 {
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--podium-cds-color-black);
}

.promo-price .filters-sort span,
.promo-price .filters-sort i {
    font-size: 1.1rem;
    text-transform: capitalize;
}

.sidebar a{
    text-decoration: none;
    color: var(--podium-cds-color-black);
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 400;
}

.main {
    width: 100% !important;
    height: auto;
    display: flex;
    margin: 2.5rem 0 2.5rem 0;
}

.promo-price {
    background-color: var(--background-color);
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-radius: 20px;
    top: 0;
    position: sticky;
    position: -webkit-sticky; 
    margin: 0 0 0 7rem;
    z-index: 100;
    overflow: hidden;
}

.filters-sort {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sidebar {
    width: 2.5rem;
    height: 100vh;
    /* overflow-y: auto; */
    background-color: #E5FCF5;
    top: 50px;
    position: sticky;
    position: -webkit-sticky;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    cursor: pointer;
    transition: width 0.2s ease;
    overflow: hidden;
}

.sidebar::-webkit-scrollbar {
    width: 0.25rem;
}

.sidebar::-webkit-scrollbar-track {
    background: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #000080;
}

.sidebar .first-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 0 0 0 10px;
    margin: 0 0 1rem 0;
    padding: 0 0 0;
    display: none;
}

.sidebar .first-section h3 {
    padding: 8px 10px;
    border-radius: 16px 12px;
}

.sidebar .dropdowns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    display: none;
    padding: 0 0 0 1rem;
}

.sidebar .dropdowns h3 {
    width: 100%;
    border-top: 1px solid var(--podium-cds-color-grey-200);
    margin: 1rem 0 0.1rem 0;
    padding: 1rem 0 0.1rem 0;
}

.sidebar > i {
    font-size: 2rem;
    filter: grayscale(100%) opacity(0.7);
    transform: rotate(0deg);
    transition: filter 0.2s ease, opacity 0.2s ease, tranform 0.2s ease;
}

.sidebar:hover {
    width: 15rem;
    overflow-y: auto;
}

.sidebar:hover .first-section,
.sidebar:hover .dropdowns {
    display: flex;
}

.sidebar:hover > i {
    filter: grayscale(0%);
    opacity: 1;
    transform: translateX(200%) rotate(calc(3 * -180deg));
}

.sidebar .first-section h3:hover{
    background-color:  #114B5F;
}

.sidebar .first-section h3:hover a {
    color: var(--podium-cds-color-grey-100);
}

.containers {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 0 1rem;
}

.containers .image-container {
    width: 374px;
    height: 374px;
}

.containers .nike {
    margin: 1rem 0 1rem 0;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.description .sale-status span{
    color: var(--podium-cds-color-red-600);
    text-transform: capitalize;
}

.description .shoe-model h4 {
    text-transform: capitalize;
    font-weight: 400;
}

.description .sex-type span,
.description .shoe-color span {
    color: var(--podium-cds-color-grey-600);
    text-transform: capitalize;
}

.description .price h4 {
    font-weight: 400;
}

.description .price span {
    text-transform: capitalize;
    color: var(--podium-cds-color-green-600);
}

.description .price span > span {
    text-transform: uppercase;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 16px 0 0 0;
}

.description .sale-status,
.description .shoe-model {
    margin: 0 0 -1rem 0;
}

.description .sex-type {
    margin: 0 0 0.5rem 0;
}

.containers .shoes-9 .price h4 span:first-child {
    text-decoration: line-through;
    color: var(--podium-cds-color-grey-400);
    font-weight: 200;
}

.containers .shoes-9 .price h4 span:last-child {
    text-transform: lowercase;
}

.containers .shoes-8 .sale-status span{
    display: none;
}

.containers .shoes-8 .price h4 span:first-child {
    text-decoration: line-through;
    color: var(--podium-cds-color-grey-400);
    font-weight: 200;
}

.containers .shoes-8 .shoe-model h4 span {
    text-transform: uppercase;
}

.containers .shoes-8 span:last-child {
    text-transform: lowercase;
}

.containers .shoes-8 .sex-type span {
    text-transform: capitalize;
}

.footer-nav a {
    text-decoration: none;
    color: var(--podium-cds-color-grey-500);
    text-transform: capitalize;
    font-size: 15px;
}

.footer-nav a:hover,
.footer-nav a:active {
    text-decoration: underline;
}

.footer-nav .column span {
    text-transform: capitalize;
}

.footer .country h4 {
    text-transform: capitalize;
    font-weight: 500;
}

.footer .country i {
    color: var(--podium-cds-color-grey-400);
}

.footer {
    width: 90%;
    height: auto;
    margin: 5rem 5rem 2.5rem 3rem;
    padding: 3rem 0 0 0;
    border-top: 1px solid var(--podium-cds-color-grey-400);
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.footer-nav {
    width: 70%;
    height: auto;
    display: flex;
    margin: 0 0 3rem 0;
}

.footer-nav .column {
    width: 50%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-nav .first span {
    margin: 0 0 1rem 0;
}

.footer-nav .first {
    height: 150px;
}

.footer-nav .second span {
    margin: 0 0 1rem 0;
}

.footer-nav .second {
    height: 200px;
}

.footer-nav .third span {
    margin:  0 0 1rem 0;
}

.footer-nav .third {
    height: 200px;
}

.footer .country {
    width: 30%;
    height: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer .country i {
    padding:0 1rem 0 0;
    font-size: 1.4rem;
}

.footer .country h4 {
    font-size: 1rem;
}

.footer .copyrights span {
    text-transform: capitalize;
    color: var(--podium-cds-color-grey-500);
    font-size: 15px;
}

.footer .copyrights {
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin: 0 0 0 -1rem;
}

.header .logo + input {
    display: none;
}

.icons {
    display: none;
    position: absolute;
    right: 5%;
    cursor: pointer;
    font-size: 1.5rem;
}

@media (width <= 992px){
    .header {
        margin: 0 3rem 0 0;
    }
    .navbar {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header .navbar a {
        font-size: 14px;
    }

    .search-cart .search input {
        width: 5rem;
        padding: 10px 25px 10px 30px;
        border-radius: 20px 20px 20px 20px;
    }
    .search-cart .search i {
        border-radius: 20px 23px 25px 22px;
        padding: 6px 6px;
        position: absolute;
        font-size: 1rem;
        font-weight: 400;
        top: 3px;
        left: 10px;
    }
    .header .logo img {
        width: 4rem;
    }
}

@media (width <= 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked + .icons #menu-icon {
        display: none;
    }

    #close-icon {
        display: none;
    }

    #check:checked + .icons #close-icon {
        display: block;
    }

    .search-cart {
        display: none;
    }

    .navbar {
        position: absolute;
        top: 10%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: rgb(0,0,0,.1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        overflow: hidden;
        z-index: 1000;
        transition: 0.3s ease;
    }

    #check:checked ~ .navbar {
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .navbar a {
        font-size: 1.1rem;
        transform: translateY(-50px);
        transition: 0.3s ease;
    }

    #check:checked ~ .navbar a{
        transform: translateY(0px);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }

    .sidebar {
       width: 1.7rem;
    }

    .sidebar:hover {
        width: 12rem;
    }

    .sidebar > i {
        transform: translateX(-10%);
    }

    .containers .image-container {
        width: 474px;
        height: 474px;
    }

    .containers {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        transform: translateX(30%);
    }

    .promo-price h1 {
        font-size: 0.8rem;
    }

    .promo-price .filters-sort span,
    .promo-price .filters-sort i {
    font-size: 0.9rem;
    }

    .promo-price {
        display: flex;
        flex-direction: column;
        top: 0;
        padding: 0 0 1rem 0 ;
    }

    .promo-price {
        background-color: var(--background-color);
        width: 90%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px;
        border-radius: 20px;
        top: 10px;
        position: sticky;
        position: -webkit-sticky; 
        margin: 0 0 0 7rem;
        z-index: 100;
        overflow: hidden;
        transform: translateX(-10%);
    }
    

    .filters-sort {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
    }

    .footer {
        border-top: 1px solid var(--podium-cds-color-grey-400);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 7rem;
        justify-content: space-between;
    }

    .copyrights {
        width: 20%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1.3rem 0 0 1.3rem;
    }

    .sidebar {
        width: 2rem;
    }

    .sidebar:hover {
        width: 17rem;
    }

    .sidebar:hover a {
        font-size: 14px;
    }
}

@media (width <= 480px ) {
    body {
        overflow-x: hidden;
        max-width: 100%;
    }

    .navbar {
        position: absolute;
        top: 10%;
        left: 0;
        width: 118%;
        height: 0;
        background-color: rgb(0,0,0,.1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        overflow: hidden;
        z-index: 1000;
        transition: 0.3s ease;
        text-align: center;
    }

    .icons {
        right: 0.9rem;
    }

    .sidebar {
        width: 2rem;
    }

    .sidebar:hover {
        width: 17rem;
    }

    .sidebar:hover a {
        font-size: 14px;
    }

    .containers .image-container {
        width: 274px;
        height: 274px;
    }

    .containers {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 2rem 0 0;
    }

    .promo-price h1 {
        font-size: 0.8rem;
    }

    .promo-price .filters-sort span,
    .promo-price .filters-sort i {
    font-size: 0.9rem;
    }

    .promo-price {
        width: 80%;
        display: flex;
        flex-direction: column;
        top: 0;
        padding: 0 0 1rem 0 ;
    }

    .filters-sort {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
    }

    .footer {
        width: 80%;
        border-top: 1px solid var(--podium-cds-color-grey-400);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 5rem;
    }

    .footer-nav {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer .copyrights {
        width: 70%;
        height: 20vh;
        margin: 3rem 0 0 -1rem;
        flex-direction: column;
        justify-content: space-between;
    }
}